{% extends 'layout.html' %}

{% block content %}
{% if not Error %}
<div>
    <p>Bienvenido {{ user_info.nickname }}.</p>
</div>
<div class="container">
    <h2>Top 10 de productos mas vendidos</h2>
    <p>Ordenados por mayor cantidad de ventas</p> 

    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Nombre vendedor</th>
                <th>Cantidad vendida</th>
            </tr>
        </thead>
        {% for product in products %}
        <tbody>
            <tr>
                <td width="50%">{{ product.title }}</td>
                <td>{{ product.seller.nickname }}</td>
                <td>{{ product.sold_quantity }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
        <a href="/listados?application={{ application }}" class="btn btn-primary">Volver</a>

</div>
{% else %}
La sesion caduco <a href="/authorize">Click aqui para autenticar en ML</a>
{% endif %}

{% endblock %}